<h1>Editing knowhow post</h1>

<%= render "form", knowhow_post: @knowhow_post %>

<br>

<div>
  <%= link_to "Show this knowhow post", @knowhow_post %> |
  <%= link_to "Back to knowhow posts", knowhow_posts_path %>
</div>
